.navbar-brand{color:whitesmoke; background-color: rgb(62, 179, 159); font-weight: bold;}
.navbar navbar-default{background-color:white;}

.dropdown{text-align: right; }
h2{color:rgb(62, 179, 159);font-weight: bold;
    border-bottom: 0.1px; border-bottom-style:solid; border-bottom-color:lightgray;}

.panel-footer{background-color:gray;text-align: center;}
.col-md-7{background-color: lightgray;}
.col-md-5{background-color:lightgray;}
.col-md-3{float:left;}
.col-md-12{background-color: white; border:white;}
.col-md-6{outline-color: white;}
#main_image{float:left;overflow: auto; }
.page-header{color:rgb(62, 179, 159);}
.img{width: 100%;
    height: auto;
}


